.movie{
    width: 360px;
    margin: 10px;
    flex-direction: row;
    background-color: transparent;
    border: 0;
}

.poster{
    width: 200px;
    height: 250px;
}

.info{
    background-color: rgb(144, 142, 142);
    width: 200px;
    height: 250px;
    padding: 8px;
    
}

.rating{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    color: black;
}

.card-text{
    margin-bottom: 5px;
}