
body{
  background-color: rgb(103, 103, 103);
  font-family: Arial, Helvetica, sans-serif;
}

.ganre{
    margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.button-clear{
    background-color: transparent;
    color: white;
    border-color: white;
    position: absolute;
    right: 230px;
    top: 70px;
}

.btn.btn-secondary{
  position: absolute;
  right: 16rem;
  top: 0.7rem;
}